<template>
  <section class="sheet">
    <button class="settings" @click="showSettings">&#128736;</button>
    
    <div class="staff" @click="toggleRun()">
      <div class="surline"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="surline"></div>
      <div class="clef">
        <img src="../assets/G-clef.svg" alt="G clef">
      </div>
      <div>
        <!-- <div :class="'note line'+item.note" @animationend="animEnd(item)" :style="{'animation-duration': 10/config.speed +'s'}" v-for="item in gNotes" :key="item.id">
          <img src="../assets/note-noire.svg" alt="musical note" class="up">
          <img src="../assets/note-noire-bas.svg" alt="musical note" class="down">
          
        </div> -->
        <div :class="'note line'+item.note" :style="{'left': 40*item.note+'px','animation-name':'none'}" v-for="item in test" :key="item.id">
          <img src="../assets/note-noire.svg" alt="musical note" class="up">
          <img src="../assets/note-noire-bas.svg" alt="musical note" class="down">
          <div v-if="item.note == 2 || item.note == 4 || item.note == 6 || item.note == 18 || item.note == 20 || item.note == 22" class="add-line middle"></div>  
        </div>
      </div>
    </div>
    <div class="staff">
      <div class="surline"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="surline"></div>
      <div class="clef F-clef">
        <img src="../assets/FClef.svg" alt="F clef">
      </div>
      <div>
        <div :class="'note line'+item.note" @animationend="animEnd(item)" :style="{'animation-duration': 10/config.speed +'s'}" v-for="item in fNotes" :key="item.id">
          <img src="../assets/note-noire.svg" alt="musical note" class="up">
          <img src="../assets/note-noire-bas.svg" alt="musical note" class="down">
          
        </div>
      </div>
    </div>


    <section class="panel" v-if="settings">
      <div>
        <label for="speed">Speed : </label>
        <input type="number" name="speed" id="speed" v-model="config.speed" min="1" max="5">
          
      </div>
      <div>
        <label for="amount">Note amount : </label>
        <input type="number" name="amount" id="amount" v-model="config.amount" min="1" max="10">
          
      </div>
      <div>
        <label for="clef">Clef : </label>
        <select name="clef" id="clef" v-model="config.clef">
          <option value="1">G</option>
          <option value="2">F</option>
          <option value="0">Both</option>
        </select>
      </div>
      <div>
        <label for="note">Note Types : </label>
        <select name="note" id="note" v-model="config.chords">
          <option value="0">Single</option>
          <option value="1">Chords only</option>
          <option value="2">Both</option>
          <option value="3">Bass Chords</option>
        </select>
      </div>
      <div v-if="config.chords">
        <label for="chord">Chords type : </label>
        <select name="chord" id="chord" v-model="config.chordsType">
          <option value="0">Standard</option>
          <option value="1">Inverted</option>
          <option value="2">Both</option>
        </select>
      </div>

      <button @click="closeSave()" class="settings">X</button>
    </section>
  </section>
</template>

<script>
import { NoteService } from "../services/note-service";
const service = new NoteService();



export default {
  name: "Sheet",
  data() {
    return {
      test: [
        {id:1, note:1},
        {id:2, note:2},
        {id:3, note:3},
        {id:4, note:4},
        {id:5, note:5},
        {id:6, note:6},
        {id:7, note:7},
        {id:8, note:8},
        {id:9, note:9},
        {id:10, note:10},
        {id:11, note:11},
        {id:12, note:12},
        {id:13, note:13},
        {id:14, note:14},
        {id:15, note:15},
        {id:16, note:16},
        {id:17, note:17},
        {id:18, note:18},
        {id:19, note:19},
        {id:20, note:20},
        {id:21, note:21},
        {id:22, note:22},
        {id:23, note:23},
        ],
      settings: false,
      running: false,
      id:1,
      notes: [],
      config: {
        speed: 2,
        amount: 1,
        clef: 2,      
        chords:0,
        chordsType:0
      }
    }
  },
  computed: {
      gNotes() {
        return this.notes.filter(value => value.staff);
      },
      fNotes() {
        return this.notes.filter(value => !value.staff);
      }
    }
  ,
  created() {
    let saved = localStorage.getItem('config');
    if(saved) {
      this.config = JSON.parse(saved);
    }
  },
  methods: {
    closeSave() {
      this.settings = false;
      
      localStorage.setItem('config', JSON.stringify(this.config));

    },
    showSettings() {
      if(this.running) {
        this.toggleRun();
      }
      this.settings = true;
    },
    toggleRun(){
      if(this.running) {
        this.running = false;
        this.notes = [];
        this.id = 1;
      } else {
        this.running = true;
        this.loop();
      }
    },
    loop(){
      if(this.running) {
        let notes;
        let staff;

        if(parseInt(this.config.clef) === 0) {
          staff = Math.round(Math.random());
        }else{
          staff = parseInt(this.config.clef) === 1 ? 1 : 0;
        }

        if(this.config.chords === 0 || (parseInt(this.config.chords) === 2 && Math.random() >= 0.3) || (parseInt(this.config.chords) === 3 && staff === 1) ) {
          notes  = [service.getNote()];
        } else {
          notes = [...service.getChord()];
        }
        for(let note of notes) {
          this.notes.push({id:this.id, note: note, staff:staff});
          this.id++;
        }
        setTimeout(() => this.loop(), (5/this.config.speed)*(1000/this.config.amount) );
      }
    },
    animEnd(item) {
      let index = this.notes.findIndex(value => value.id === item.id);
      this.notes.splice(index, 1);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.sheet {
  overflow: hidden;
}

.settings {
  display: block;
  background-color: white;
  border: none;
  padding: 5px;
  font-size: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
}

.panel {
  font-size: 5vw;
  top: 5vh;
  left: 5vw;
  padding: 5vw;
  width: 80vw;
  height: 70vh;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 10px gray;

  input, select {
    font-size: 4vw;
  }
}

.staff {
  position: relative;
  width: 100%;
  height: 180px;
  .line {
    width: 100%;
    height: 11px;
    border-bottom: 2px solid black;
  }

  .surline {
    width: 100%;
    height: 40px;
  }

  .clef {
    img {
      height: 100%;
    }
    position: absolute;
    left: 0;
    top: 38px;
    height: 90px;

    &.F-clef {
      height: 40px;
      left: 5px;
      top: 53px;
    }
  }

  .note {
    $height: 13px;
    position: absolute;
    width: 16px;
    height: $height;
    animation-name: toLeft;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    img {
      width: 100%;
    }
    .up {
      display: block;
      position: absolute;
      bottom: 0;
    }
    .down {
      display: none;
    }
    .add-line {
      position: absolute;
      border-bottom: 2px solid black;
      width: 24px;
      left: -4px;
      &.middle {
        top: ($height/2)-1;
      }
      
    }

    @for $i from 1 through 23 {
      &.line#{$i} {
        top: ($height / 2) * ($i - 1);
        @if $i < 9 {
          .up {
            display: none;
          }
          .down {
            display: block;
          }
        }
      }
    }


  }
}

@keyframes toLeft {
  from {
    left: 130%;
  }
  to {
    left: -10%;
  }
}
</style>
