<template>
  <div id="app">
    
    <Sheet />
  </div>
</template>

<script>
import Sheet from './components/Sheet.vue'

export default {
  name: 'app',
  components: {
    Sheet
  }
}
</script>

<style lang="scss">

</style>
